<h3>Hệ thống chuyển đổi số DTI thông báo thông tin mật khẩu mới</h3>

<p>Tên đăng nhập: <strong>{{username}}</strong></p>

<p>Mật khẩu mặc định: <strong>{{password}}</strong></p>

<p>Truy cập đường link: <a href="{{loginUrl}}">{{loginUrl}}</a></p>

<hr />
<p><strong>{{departmentName}}</strong></p>

<p>Hệ thống chuyển đổi số DTI</p>

<p>Hotline hỗ trợ: 028 3535 2524</p>
